<div class="time-picker">
    <div>
        <a ng-click="incrementHours()" class="arrow-button">
            <span class="arrow-up"></span>
        </a>
        <a ng-click="incrementMinutes()" class="arrow-button">
            <span class="arrow-up"></span>
        </a>
    </div>
    <form name="number-input-form" class="number-input-form" novalidate>
        <input type="text" class="time-input" ng-model="hours" ng-change="changeHours()" ng-blur="renderHours()" maxlength="2" hours />
        <span>:</span>
        <input type="text" class="time-input" ng-model="minutes" ng-change="changeMinutes()" ng-blur="renderMinutes()" maxlength="2" minutes />
    </form>
    <div>
        <a ng-click="decrementHours()" class="arrow-button">
            <span class="arrow-down"></span>
        </a>
        <a ng-click="decrementMinutes()" class="arrow-button">
            <span class="arrow-down"></span>
        </a>
    </div>
</div>