<div class="section-configure absolute-panel">
    <div class="key-value-section">
        <span class="bold-label">Range</span>
        <div class="btn-group">
            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dt_dropdown"><span class="button-label">{{ internalRange.selectedRange.label }}</span><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="range in dictionary"><a ng-click="selectRangeOption(range)">{{ range.label }}</a></li>
            </ul>
        </div>
    </div>
    <div class="key-value-section">
        <span class="bold-label time-picker-label">From</span>
        <time-picker time="internalRange.from" update="updateFrom(value)"></time-picker>
    </div>
    <div class="key-value-section">
        <span class="bold-label time-picker-label">To</span>
        <time-picker time="internalRange.to" update="updateTo(value)"></time-picker>
    </div>
    <div class="key-value-section" ng-hide="hideTimeUnit">
        <span class="bold-label">Unit</span>
        <span class="label-text" ng-hide="internalRange.selectedRange.timeUnits.length > 1">{{ internalRange.timeUnit }}</span>
        <div class="btn-group" ng-show="internalRange.selectedRange.timeUnits.length > 1">
            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dt_dropdown"><span class="button-label">{{ internalRange.timeUnit }}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="unit in internalRange.selectedRange.timeUnits" ng-click="selectTimeUnit(unit)"><a>{{ unit }}</a></li>
            </ul>
        </div>
    </div>
    <div class="key-value-section single-date-section" ng-show="internalRange.selectedRange.custom">
        <input type="checkbox" ng-model="singleDate" />
        <span>Single Date</span>
    </div>
</div>